*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px black;
    background-color: rgb(203, 240, 41);
}
.box{
    padding: 5px;
}
.box > p{
    margin-left: 5px;
    text-align: justify;
}